include README.md
include LICENSE
include requirements.txt
include main.py
include move_replays.py

recursive-include src *.py
recursive-include src/gui/assets *
recursive-include docs *.md
recursive-include experiments *.py

exclude .gitignore
exclude .venv/
recursive-exclude . __pycache__
recursive-exclude . *.pyc
recursive-exclude . *.pyo
recursive-exclude . *.pyd
recursive-exclude . .DS_Store
